<?xml version="1.0"?>
<configuration>
	<configSections>
		<section name="SimplifyWebSettings" type="System.Configuration.NameValueSectionHandler, System, Version=1.0.5000.0,Culture=neutral, PublicKeyToken=b77a5c561934e089" />
	</configSections>

	<system.web>
		<compilation debug="true" targetFramework="4.5.2" />
	</system.web>

	<SimplifyWebSettings>
		<add key="DefaultTemplatesPath" value="App" />
	</SimplifyWebSettings>
</configuration>